* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* .main_item {
  display: flex;
}
li {
  list-style: none;
  margin: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ede9d8;
} */
header {
  margin: 0;
  color: #fff;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#container {
  /* min-width: 100vw;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  z-index: 1;
}
/* ⛅️⛅️⛅️⛅️⛅️⛅️⛅️⛅️⛅️*/

.topnav {
  overflow: hidden;
}
#myTopnav {
  top: 0;
  background-color: #59c1bd;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* position: fixed; */
  /* position: relative; */
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  border: 1.2px solid #0a0b0b;
  line-height: 16px;
  display: none;
  margin-top: 3rem;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 0.7rem;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown {
  z-index: 2;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: rgb(122, 118, 118);
}

.dropdown-content a:hover {
  color: #f15412;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} */
.first-img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  /* position: absolute; */
  z-index: -1;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.app_intro {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}
.app-intro_left {
  width: 50%;
  height: 100vh;
  background-color: #59c1bd;
}
.app-intro_right {
  width: 50%;
  height: 100vh;
  background-color: #f9f9f9;
}
.inteo_left-img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  display: table-cell;
  height: 100%;
}
.intro_right-img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  display: table-cell;
  height: 100%;
}
footer {
  width: 100%;
  height: 500px;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* aboutMeS */
.aboutMe {
  width: 65%;
  position: relative;
}

.aboutMe__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #ffbb00;
}

.aboutMe__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.aboutMe__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.aboutMe__photo {
  grid-row: 1 / span 2;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.aboutMe__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.aboutMe__location {
  font-size: 1.5rem;
}

.slider__btn {
  color: #333;
}
.title {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  background-color: #f6edf4 !important;
}
footer {
  width: 100%;
  height: 500px;
  background-color: #59c1bd;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  font-size: 3rem;
}
.luan-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  display: table-cell;
}
.reb-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  display: table-cell;
}
